<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="gemConfiguration" type="GEM2Common.GEMConfiguration, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
		<section name="promptInstantiatorConfig" type="PromptInstantiator.PromptInstantiatorConfiguration, PromptInstantiator, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
    <sectionGroup name="mailSettings">
      <section name="smtp_1" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
	</configSections>
	<gemConfiguration useDataSourceId="Default" useAuditing="True" auditingProvider="GEM2Common.GEMAuditingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useExceptionLogging="False" exceptionLoggingProvider="GEM2Common.GEMExceptionLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useConcurrencyChecking="False" concurrencyCheckingProvider="GEM2Common.GEMConcurrencyCheckingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useOperationsLogging="False" operationsLoggingProvider="GEM2Common.GEMOperationLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
	<appSettings>
		<add key="ApplicationID" value="3f0a14d4-0c39-4e22-9a2d-2f11855190f5" />
		<add key="ApplicationVersion" value="5.0" />
		<add key="ApplicationURL" value="localhost:16057"  />
		<add key="ApplicationURLSecure" value=""  />
    <add key="AppVirtualPath" value="/READY" />
	  <!--<add key="AppVirtualPath" value="" />-->
		<add key="DeploymentLocation" value="Development" />
		<!--<add key="DeploymentLocation" value="Deployment"/>-->
		<add key="Navi_XsdLocation" value="~/App_Data/Locations.xsd" />
		<add key="Navi_XsdNamespace" value="http://locations" />
		<add key="Navi_XmlLocations" value="~/App_Data/Locations.xml" />
		<add key="CountryLogosDir" value="~/CountryLogos/" />
		<add key="AttachTmpDir" value="AttachTmpDir" />
		<add key="ReportServerURL" value="http://pantera/ReportServer" />
		<add key="ReportServerCredentialsUsername" value="PANTERA\hrvojemilas" />
		<add key="ReportServerCredentialsPassword" value="Poss-Plus!" />
		<add key="CustomerTimeReportName" value="/NanoKinetik/02_customer_time_report_test"/>
		<add key="RegulatoryActivityReportName" value="/NanoKinetik/03_regulatory_activity_report_dev"/>
    <add key="PharmacovigilanceQualityReportName" value="/NanoKinetik/05_pharmacovigilance_quality_report_test"/>
		<add key="BlankImageRedirectLink" value="http://office.possimusit.com:8084/images/blank.gif"/>
		<add key="AttachmentMigrationRootFilePath" value="C:\tmp" />
		<add key="SenderID" value="BPET" />
		<add key="AS2SenderID" value="BPET" />
		<add key="AS2GatewayID" value="EVMPDHVAL" />
		<add key="messageReceiverID" value="EVTEST" />
		<add key="messageFormatVersion" value="2" />
		<add key="messageFormatRelease" value="0" />
		<add key="messageType" value="XEVPRM" />
		<add key="messageReceiverID" value="EVTEST" />
		<add key="messageSenderID" value="BPET" />
		<add key="EVGatewayServiceName" value="ReadyEVGatewayTest" />
		<add key="serviceImpersonationUsername" value="kristijansimunic" />
		<add key="serviceImpersonationPassword" value="Poss-Plus!" />
		<add key="serviceDomainName" value="." />
		<add key="RemindersEnabled" value="TRUE" />
		<add key="ReminderRefreshMinutes" value="60" />
		<add key="ServiceConfigFile" value="C:\Program Files (x86)\Nanokinetik\ReadyEVGatewayTest\EVGateway.WinService.exe.config" />
		<add key="AS2HandlerInboundLogFullFilePath" value="C:\inetpub\wwwroot\AS2Handler\Data\Log.txt" />
		<add key="ChartImageHandler" value="storage=file;timeout=20;" />
		<add key="XEVPRMMaxResubmit" value="3" />
    <add key="LogFilePath" value="C:\Logs\" />
    <add key="ServiceLogFileName" value="ReadyEVGatewayTestServiceLog.txt" />
    <add key="EmailNotificationLogFileName" value="EmailNotificationLog.txt" />
    <add key="CheckInLocalDirectory" value="D:\Downloads\" />
	</appSettings>

	<connectionStrings>
    
    <add name="GEM2Operational_MSSQL" connectionString="Data Source=localhost;Initial Catalog=Ready;User ID=DevUser;Password=DevPassword" providerName="System.Data.SqlClient" />
    <add name="SSI_Default" connectionString="Data Source=localhost;Initial Catalog=SSI;User ID=DevUser;Password=DevPassword" providerName="System.Data.SqlClient" />
    <add name="Ready_poss_wc" connectionString="Data Source=localhost;Initial Catalog=Ready;User ID=DevUser;Password=DevPassword" providerName="System.Data.SqlClient" />
    
	</connectionStrings>

  <mailSettings>
    <smtp_1 deliveryMethod="Network" from="misteriozan@gmail.com">
      <network host="smtp.gmail.com" port="587" userName="misteriozan@gmail.com" password="privilegium" defaultCredentials="false" enableSsl="true" />
    </smtp_1>
  </mailSettings>
  
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</buildProviders>
		</compilation>
		<!--<compilation debug="false" targetFramework="4.0" />-->
		<httpRuntime requestValidationMode="2.0" useFullyQualifiedRedirectUrl="false" maxRequestLength="2147483647" executionTimeout="36000" />
		<pages theme="NewDesign" maintainScrollPositionOnPostBack="true" enableEventValidation="false" />
    <customErrors defaultRedirect="Views/ActivityView/List.aspx?EntityContext=Activity" mode="Off">
      <error statusCode="404" redirect="Views/RestrictedAreaView/ErrorInfo.aspx"/>
    </customErrors>
		<globalization culture="hr-HR" uiCulture="hr-HR" requestEncoding="utf-8" responseEncoding="utf-8" />
		<trace enabled="false" localOnly="false" mostRecent="true" pageOutput="true" requestLimit="500" traceMode="SortByTime" writeToDiagnosticsTrace="false" />
		<sessionState mode="InProc" cookieless="UseDeviceProfile" timeout="1440" />
		<!--<sessionState mode="StateServer" sqlConnectionString="tcpip=localhost:42424" cookieless="UseDeviceProfile" timeout="1440" />-->

		<identity impersonate="true"/>
		<authentication mode="Forms">

			<forms name="AuthCookie" loginUrl="Login.aspx" defaultUrl="Views/ActivityView/List.aspx?EntityContext=Activity" protection="All" timeout="1440" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="true" cookieless="UseDeviceProfile" domain="">
				<credentials passwordFormat="SHA1" />
			</forms>
		</authentication>
		<authorization>
			<deny users="?" />
			<!--<allow users="*"/>-->
		</authorization>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
     validate="false" />
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />

		</httpHandlers>
	</system.web>
	<!-- Special locations authorization -->
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Images">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="RecoverPassword.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="app_offline.htm">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

  <system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			<add name="ChartImg" verb="*" path="ChartImg.axd"  type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
	</system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="EDMS_WSPortBinding" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IReadyEDMS" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://edms.nanokinetik.com:8040/EDMS/EDMSWS"
        binding="basicHttpBinding" bindingConfiguration="EDMS_WSPortBinding"
        contract="NanokinetikEDMS.EDMS_WS" name="EDMS_WSPort" />
      <endpoint address="http://pantera:8081/EDMSService.ReadyEDMS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReadyEDMS"
        contract="ReadyEDMS.IReadyEDMS" name="BasicHttpBinding_IReadyEDMS" />
    </client>
  </system.serviceModel>
</configuration>