<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AS2SenderID" value="BPET" />
		<add key="AS2GatewayID" value="EVMPDHVAL" />
		<add key="AS2ExchangePointURI" value="http://195.144.18.238:8080/exchange/EVMPDHVAL" />
		<add key="EMAMDNReceiptURL" value="http://195.144.18.238:8080/exchange/EVMPDHVAL" />
		<add key="MDNReceiptURL" value="http://178.23.244.73:4080/AS2Listener.ashx" />
		<add key="messageReceiverID" value="EVTEST" />
		<add key="messageFormatVersion" value="2" />
		<add key="messageFormatRelease" value="0" />
		<add key="messageType" value="XEVPRM" />
		<add key="messageReceiverID" value="EVTEST" />
		<add key="messageSenderID" value="BPET" />
		<add key="gatewayThumbprint" value="2BFC2DE0B850CCC919AF128ADF2DB526A5850198" />
		<add key="signingThumbprint" value="A68DA138AA65D1DD9663CA798CF7894E79944415" />

		<!--authorised product ID | attachment ID | number of messages to send;-->
		<!--<add key="Tasks" value="8486|1498|1;" />-->
		<add key="Tasks" value="8497|1498|1;" />
		<add key="CreateNewAPDocAttach" value="false" />
		<add key="LogFile" value="EVGatewayTestLog.txt" />

	</appSettings>
	<connectionStrings>
    <add name="GEM2Operational_MSSQL" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="SSI_Default" connectionString="Data Source=pantera;Initial Catalog=SSI;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="Ready_poss_wc" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
