<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gemConfiguration" type="GEM2Common.GEMConfiguration, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
    <sectionGroup name="mailSettings">
      <section name="smtp_1" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>
  <gemConfiguration useDataSourceId="Default" useAuditing="True" auditingProvider="GEM2Common.GEMAuditingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useExceptionLogging="True" exceptionLoggingProvider="GEM2Common.GEMExceptionLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useConcurrencyChecking="False" concurrencyCheckingProvider="GEM2Common.GEMConcurrencyCheckingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useOperationsLogging="False" operationsLoggingProvider="GEM2Common.GEMOperationLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />

  <appSettings>
    <add key="LogFilePath" value="C:\Logs\" />
    <add key="ServiceLogFileName" value="ReadyEVGatewayTestServiceLog.txt" />
    <add key="EmailNotificationLogFileName" value="EmailNotificationLog.txt" />
    <!--Interval in seconds-->
    <add key="Interval" value="120" />
    <add key="XevprmMessageSubmissionDelay" value="30" />
    <add key="ReceivedMessageProcessingDelay" value="60" />

    <add key="AS2GatewayID" value="EVMPDHVAL" />
    <add key="MessageReceiverID" value="EVTEST" />

    <add key="AS2SenderIDs" value="SANDOZEVMPDTEST|D30E57FF7291D313034F731B2563115A55E44494;" />
    <add key="AS2GatewayIDs" value="EVMPDHVAL|D30E57FF7291D313034F731B2563115A55E44494;" />
    <add key="AS2TimeoutSec" value="3600" />

    <add key="AS2ExchangePointURI" value="http://pantera:8080/EMAListener.ashx" />
    <add key="MDNReceiptURL" value="http://pantera:4080/AS2Listener.ashx" />
    <add key="EMAMDNReceiptURL" value="http://pantera:8080/EMAListener.ashx" />
  </appSettings>
  <connectionStrings>
    <add name="GEM2Operational_MSSQL" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="SSI_Default" connectionString="Data Source=pantera;Initial Catalog=SSI;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="Ready_poss_wc" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <mailSettings>
    <smtp_1 deliveryMethod="Network" from="misteriozan@gmail.com">
      <network host="smtp.gmail.com" port="587" userName="misteriozan@gmail.com" password="privilegium" defaultCredentials="false" enableSsl="true" />
    </smtp_1>
  </mailSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EDMS_WSPortBinding" maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://edms.nanokinetik.com:8040/EDMS/EDMSWS"
        binding="basicHttpBinding" bindingConfiguration="EDMS_WSPortBinding"
        contract="NanokinetikEDMS.EDMS_WS" name="EDMS_WSPort" />
    </client>
  </system.serviceModel>
</configuration>
