<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gemConfiguration" type="GEM2Common.GEMConfiguration, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"/>
  </configSections>

  <gemConfiguration useDataSourceId="Default" useAuditing="True" auditingProvider="GEM2Common.GEMAuditingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useExceptionLogging="True" exceptionLoggingProvider="GEM2Common.GEMExceptionLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useConcurrencyChecking="False" concurrencyCheckingProvider="GEM2Common.GEMConcurrencyCheckingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useOperationsLogging="False" operationsLoggingProvider="GEM2Common.GEMOperationLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"/>

  <appSettings>
    <!-- LOCAL SYSTEM mora imati prava na ovaj folder!!! (inace servis pada) -->
    <add key="ReminderLogFile" value="c:\Logs\reminders.txt"/>
    <!-- INTERVAL JE U MINUTAMA (svakih N minuta) -->
    <add key="Interval" value="2"/>

    <add key="CheckReminders" value="True"/>
    <add key="CreateAutomaticReminders" value="True"/>
    <add key="DeleteOldDismissedAutomaticReminders" value="True"/>
    
    <add key="ReminderEmail" value="misteriozan@gmail.com"/>
    <add key="ReminderEmailCompanyLogoFile" value="C:\Resources\companylogo.jpg"/>
    <add key="AppURL" value="http://office.possimusit.com:8084"/>
    
  </appSettings>

  <connectionStrings>
    <add name="Ready_poss_wc" connectionString="Data Source=pantera;Initial Catalog=ReadyDev;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- SMTP -->
  <system.net>
    <mailSettings>
      <smtp from="hrvoje.milas@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="hrvoje.milas@gmail.com" password="sifra" defaultCredentials="false" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
