<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="gemConfiguration" type="GEM2Common.GEMConfiguration, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />
	</configSections>
	<gemConfiguration useDataSourceId="Default" useAuditing="True" auditingProvider="GEM2Common.GEMAuditingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useExceptionLogging="True" exceptionLoggingProvider="GEM2Common.GEMExceptionLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useConcurrencyChecking="False" concurrencyCheckingProvider="GEM2Common.GEMConcurrencyCheckingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" useOperationsLogging="False" operationsLoggingProvider="GEM2Common.GEMOperationLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral" />

  <appSettings>

    <add key="SenderGateways" value="SANDOZEVMPDTEST|SANDOZEVMPDTEST|http://pantera:4080/AS2Listener.ashx|D30E57FF7291D313034F731B2563115A55E44494;" />
    <add key="ReceiverGateways" value="EVMPDHVAL|EVTEST|http://pantera:8080/EMAListener.ashx|D30E57FF7291D313034F731B2563115A55E44494;" />

    <add key="AS2ExchangePointURI" value="" />
    <add key="EMAMDNReceiptURL" value="" />
    <add key="MDNReceiptURL" value="" />
    <add key="AS2TimeoutSec" value="3600" />

    <add key="LogFilePath" value="C:\Logs\" />
    <add key="LogFileName" value="EMAServiceLog.txt" />
    <add key="Interval" value="5" />

    <add key="InvalidMDNPercentage" value="3"/>
    <add key="ACK01Percentage" value="75"/>
    <add key="ACK02Percentage" value="20"/>

  </appSettings>
  <connectionStrings>
    <add name="GEM2Operational_MSSQL" connectionString="Data Source=pantera;Initial Catalog=ReadyDevXevprm;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="SSI_Default" connectionString="Data Source=pantera;Initial Catalog=SSI;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="Ready_poss_wc" connectionString="Data Source=pantera;Initial Catalog=ReadyDevXevprm;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>