<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="gemConfiguration" type="GEM2Common.GEMConfiguration, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"/>
	</configSections>

	<gemConfiguration
	 useDataSourceId="Default"
	 useAuditing="True"
	 auditingProvider="GEM2Common.GEMAuditingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"
	 useExceptionLogging="False"
	 exceptionLoggingProvider="GEM2Common.GEMExceptionLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"
	 useConcurrencyChecking="False"
	 concurrencyCheckingProvider="GEM2Common.GEMConcurrencyCheckingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"
	 useOperationsLogging="False"
	 operationsLoggingProvider="GEM2Common.GEMOperationLoggingProvider, GEM2Common, Version=1.0.0.0, PublicKeyToken=null, Culture=neutral"
    />

	<appSettings>

    <!-- Service timeout interval. Service will run tasks periodically, with interval in minutes defined with this parameter. -->
    <add key="Interval" value="2"/>

    <!--Comma separated hours at which archivation process will be started. (DEFAULT MODE) -->
    <add key="ArchivationHours" value=""/>
    <!--If this value is set (and ArchivationHours is empty), files will be archived periodically, with interval in hours defined with this parameter.-->
    <add key="ArchivationInterval" value="1" />
    <!-- If both values are empty, archivation will be processed each day at 00:00 -->

    <add key="MARootPath" value="C:\Marketing Authorisation"/>
    <add key="InboundFolder" value="Inbound"/>
    <add key="OutboundFolder" value="Outbound"/>
    <add key="SMPCInboundFolder" value="Inbound\SMPC\"/>


    <add key="LogFilePath" value="C:\Logs\"/>
    <add key="LogFileName" value="maServiceLog.txt"/>

    <add key="EMASenderID" value="SANDOZEVMPDTEST" />

    <add key="MessageReceiverID" value="EVTEST" />
    <add key="MessageSenderID" value="SANDOZEVMPDTEST" />

  </appSettings>

  <connectionStrings>
    <add name="GEM2Operational_MSSQL" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="SSI_Default" connectionString="Data Source=pantera;Initial Catalog=SSI;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
    <add name="Ready_poss_wc" connectionString="Data Source=pantera;Initial Catalog=ReadyTest;User ID=sa;Password=Poss-Plus!" providerName="System.Data.SqlClient" />
  </connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
